{% extends "pizzas/base.html" %} 

{% block header %} 
<h1> {{ pizza }} Pizza </h1>
{% endblock header %}


{% block content %} 

<div>
<img src="{{ pizza.picture.url }}" />
</div>

<h3>
    Toppings:
</h3>
<ul>
    {% for t in toppings %} 
    <li>
        <h3> <small>{{ t.topping_name }} 
            </small>
        </h3>
    </li>
    {% endfor %} 
</ul>

<h3>
    Comments: <a href="{% url 'pizzas:new_comment' pizza.id %}">Add a comment</a>
</h3>
    {% for c in comment %} 
    <li>
        <h3> <small>{{ c }} 
            </small>
        <h3>
    </li>
    {% endfor %} 

{% endblock content %} 
